
:root {
  --color-primary: #1EDBEE;
  --color-primary-dark: #008DD2;
  --color-black: #2e2e2e;
  --color-white: #fefefe;
  --color-secondary: #80cb28;
  --color-secondary-dark: #27963c;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  color: var(--color-black);
  background-color: var(--color-white);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}
