.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-image: url("/bg3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  border-radius: 16px;
  padding: 32px;
  color: white;
  max-width: 600px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .container {
    /* -webkit-backdrop-filter: blur(10px); */
    backdrop-filter: blur(30px);
  }
}

.logo {
  max-width: 300px;
  height: auto;
}

.info {
  padding-top: 24px;
}

.infoHeader {
  text-align: center;
  font-size: 30px;
  padding-bottom: 24px;

  @media screen and (min-width: 500px) {
    font-size: 24px;
  }
}

.infoText {
  text-align: center;
  padding-bottom: 8px;
}

.services {
  padding-top: 16px;
  text-align: center;
}
